.ftpquota
.tmb.zip
error_log
license.txt
readme.html
wp-content/uploads
wp-content/upgrade
wp-content/plugins/essential-addons-for-elementor-lite
wp-content/plugins/wp-all-import-pro
wp-content/plugins/wp-all-export-pro
wp-content/plugins/wpai-acf-add-on
wp-content/languages
wp-content/debug.log
wp-content/plugins/woofunnels-ab-tests/
wp-content/plugins/wp-marketing-automations-connectors/
wp-content/plugins/wp-marketing-automations-pro/
wp-content/plugins/wp-marketing-automations/
.idea/
# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.xml
# Log file
*.log
wp-content/plugins/yoast-test-helper/
wp-content/plugins/wp-rocket/
wp-content/maintenance/
wp-content/advanced-cache.php
wp-content/cache/
wp-content/maintenance.php
wp-content/plugins/taxonomy-terms-order/
wp-content/plugins/wp-mail-smtp/
wp-content/wp-rocket-config/
wp-content/plugins/sfwd-lms/
wp-content/plugins/the-grid/
/wp-content/wflogs
/wp-content/plugins/change-wp-admin-login/
wp-content/plugins/wp-all-export/
.user.ini1
wordfence-waf.php1
wp-content/plugins/all-in-one-wp-migration/
